    .contato {
        background-color: var(--branco);
        padding: 1rem;
    }

    .contato__titulo, .contato__texto {
        background: var(--azul-degrade);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .contato__titulo {
        font-size: 18px;
        font-weight: 500;
    }

    .contato__texto {
        font-weight: 300;
        margin: 1rem 0;
    }

    .contato__email {
        padding: 1rem;
        border: 1px solid var(--azul);
        border-radius: 24px;
        width: 90%;
        color: var(--azul);
    }

    .contato__email::placeholder {
       font-family: var(--fonte-principal); 
       color: var(--azul);
       background: url("../imagens/Email.svg") no-repeat; /* aqui coloca o envelopinho na frente do placeholder sem repetição*/
       padding-left: 2rem;  /* para afastar o ícone do envelope do placeholder */
    }

    /*Aqui começa a estilização do contato para versão tablet*/

    @media screen and (min-width: 1024px) {
        .contato {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contato__titulo {
            font-size: 24px;
        }

        .contato__descrição {
            margin-right: 2rem;
            width: 30%;
        }

        .contato__email {
            width: 30%;  /* para quebrar o texto*/
        }
    }

    /*Aqui começa a estilização do contato para versão desktop*/

    @media screen and (min-width: 1728px) {
        .contato {
            padding: 3rem 20vw;
        }
    }